{% extends "base.html" %}
<!-- {% load qr_code %} -->
{% block content %}
<!-- <h1>detail Jurnal Kuliah</h1> -->
<!-- {{object}} -->
<div class="table table-responsive">
    <table class="table">
        <tr>
            <td colspan="4" align="center"><h5>JURNAL PERKULIAHAN</h5></td>
        </tr>
        <tr>
            <td>Matakuliah</td> 
            <td>: {{object.mk}}</td>
            <td>Tingkat /  Kelas</td>
            <td>: {{object.kelas}}</td>
        </tr>
        <tr>
            <td>Dosen</td>
            <td>: {{object.dosenPengajar}}</td>
            <td>Semester</td>
            <td>: {{matkul.semester}}</td>
        </tr>
    </table>
</div>
<div class="card">
    <div class="card-header">
        Rincian Jurnal Perkuliahan
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Pert</td>
                        <td>Tanggal</td>
                        <td>Mulai</td>
                        <td>Selesai</td>
                        <td>Materi</td>
                        <td>Metode</td>
                        <td>Presensi</td>
                        <td>Edit / Hapus</td>
                    </tr>
                </thead>
                <tbody>
                    {% for dtJurnal in detilJurnal %}
                        <tr>
                            <td>{{dtJurnal.pertemuan}}</td>
                            <td>{{dtJurnal.tanggal}}</td>
                            <td>{{dtJurnal.jamMulai}}</td>
                            <td>{{dtJurnal.jamSelesai}}</td>
                            <td>{{dtJurnal.materi|truncatewords:2}}</td>
                            <td>{{dtJurnal.metode|truncatewords:2}}</td>
                            <td><a class="btn btn-outline-info" href="{% url 'subPokokBahasan:presensi' object.pk dtJurnal.id %}">
                                    <i class="fa fa-qrcode"></i>
                                    <!-- diarahkan ke app presensiKuliah -->
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-outline-success" href="{% url 'subPokokBahasan:updatedetiljurnal' dtJurnal.id %}">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-outline-danger" href="{% url 'subPokokBahasan:deletedetiljurnal' dtJurnal.id %}">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7">Belum ada...</td>
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        <a class="btn btn-primary btn-block" href="{% url 'subPokokBahasan:createdetiljurnal' object.id %}">Tambah Pertemuan</a>
        
        {% if id_rps %}
            <a class="btn btn-info btn-block" href="{% url 'subPokokBahasan:detiljurnalfromrps' id_rps object.id %}">Tambah Pertemuan dari RPS</a>
        {% else %}
            <a class="btn btn-danger btn-block" href="{% url 'olahDataRPS:index' %}">RPS Belum ada, klik tombol ini untuk menambah RPS</a>
        {% endif %}
            
    </div>
    <a class="btn btn-outline-primary btn-block" href="{% url 'subPokokBahasan:index' %}">Kembali ke daftar jurnal</a>
</div>
{% endblock content %}