{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="text-center">
        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="{% static 'img/undraw_posting_photo.svg' %}" alt="">
    </div>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod minus asperiores deleniti? Quas laboriosam at ipsam aperiam sed consectetur, illum ducimus similique officia tempora optio, suscipit enim. Debitis, exercitationem earum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut distinctio, reiciendis fuga voluptatem explicabo consequatur optio omnis corporis dolore eius? Quod nobis ea rerum quaerat, rem laborum fugit architecto necessitatibus.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur facere, cumque dolorum laboriosam tempore veritatis quo, aspernatur sapiente at quae quidem obcaecati deserunt reprehenderit inventore iure tempora laborum molestias esse.
    </p>
    <ul>
    <li>Username: {{ user.username }}</li>
   
    </ul>
{% endblock content %}
    