{% extends "base.html" %}
{% block content %}

{% if formDosen.errors %}
    {% for field in formDosen %}
        {% for error in field.errors %}
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in formDosen.non_field_errors %}
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

{% if pesan %}
<div class="alert alert-danger alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Awas!</strong> {{pesan}}
</div>
{% endif %}
  
  <form method="post">
      {% csrf_token %}
      {% for form_dosen in formDosen %}
      <div class="form-group">
        {{form_dosen.label}}  
        {{form_dosen}}
      </div>
      {% endfor %}
      <button class="btn btn-primary" type="submit">Simpan</button>
  </form>

{% endblock content %}